<div style="text-align: center" class="row" >
<div class="col">
        <h1 class="display-3">Zakaznici</h1>
    
    </div>
</div>
    <div class="row" style="padding-top: 2rem">

        <div class="col-sm-1" style="text-align: left; padding-left: 3rem ">
                    <div>
                        <button type="button" class="btn btn-info btn-lg" 
                        data-toggle="modal" data-target="#add-customer">Pridaj zákaznika</button>
                        <app-add-customer></app-add-customer>
                    </div>
                </div>
            
                    <div class="col-sm-1" style="text-align: left; padding-left: 6rem ">
                    <div>
                        <button class="btn btn-info btn-lg" (click)="deleteCustomer(customer)">Vymaz</button>
                        
                       
                    </div>
       
                    </div>
            <div class="col-lg-8" style="text-align: center">
                <label style="font-size:1.5rem">Zadaj meno: </label>
                <input type="text" class="form-control-inline" id="customer-name">
                <button type="button" class="btn btn-primary">Najdi</button>
            </div>

    </div>

    

  
 
    <div class="row" style="margin-top: 4rem">     
                           
          <table class="table table-striped">
                <tr>
                    <th>Meno</th>
                    <th>Priezvisko</th>
                    <th>Adresa</th>
                    <th>Zariadenie</th>
                    <th>Email</th>
                    <th>Telefonne cislo</th>
                </tr>
                <tr *ngFor ="let customer of customers" (dblclick)="openEditCustomerDialog(customer)" (click)="getCustomer(customer)" >                                         
                <td>{{customer.firstname}}</td>
                <td>{{customer.surename}}</td>
                <td>{{customer.adress}}</td>
                <td>{{customer.device}}</td>
               <td>{{customer.email}}</td>
                <td>{{customer.telNumber}}</td>
            </tr>

          </table>

        </div>

       
 




